<%- include('layout/header.ejs') %> 

<main>
  <div class="row mt-4">

    <div class="col-md-3 pb-4 pb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tasks.</h5>
          <p class="card-text">Ammount per project.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">notification badge in navbar for comments in assigned tasks.</li>
          <li class="list-group-item">Bookmarks/saved projects, likes on projects</li>
          <% projects.forEach(project => { %>
           <li class="list-group-item">
            <div class="d-grid gap-2 col-8 mx-auto my-1">
              <a href="/task/<%= project._id %> " class="btn btn-light position-relative">
                <%= project.projectName %> 
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                  <%= project.tasks.length %>
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="wrapper">
              <h5 class="card-title">Open Projects</h5>
              <h6 class="card-subtitle mb-2 text-muted">See all projects available for public view</h6>
            </div>       

            <%- include('partials/_formModal.ejs', {text: "+ Project"}) %> 

          </div>
          <div class="table-responsive">
            <table id="myTable" class="table table-hover">
              <thead class="table-dark">
                <tr>
                  <th scope="col" class="text-nowrap">Project name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Owner</th>
                </tr>
              </thead>
              <tbody>
                <% projects.forEach(project => { %>
                  
                <tr>
                    <td><div class="tableLink"><a href="/project/<%= project._id %> " class="text-nowrap text-decoration-none text-reset"><%= project.projectName %></a></div></td>
                    <td><%= project.description %></td>
                    <td><div class="tableLink"><a class="text-nowrap text-decoration-none text-reset" href="/profile/<%= project.user._id %>"><%= project.user.userName %></a></div></td>
                </tr>

                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4 pb-4 pb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tasks per project</h5>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Line chart</h5>
          <canvas id="lineChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('layout/footer.ejs') %> 
