<%- include("./layout/header.ejs") %> 

<main>
    <% if (locals.messages.errors) { %> 
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger mt-2"><%= el.msg %></div>
        <% }) %> 
    <% } %>
    <div class="row mt-4">
        <% if (loggedUser == user._id) { %>
         
        <div class="col-md-8 pb-4 pb-md-0">
            <div class="card">
                <h5 class="card-header">Edit Profile</h5>
                <div class="card-body">
                    <form action="/profile/<%= user._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Company</label>
                                <input type="text" class="form-control" placeholder="Company" name="company" value="<%= user.personalDetails?.company %>">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label  class="form-label">Username</label>
                                <input type="text" class="form-control" placeholder="Username" value="<%= user.userName %> " disabled>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" value="<%= user.email %>" disabled>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label  class="form-label">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" name="firstName" value="<%= user.personalDetails?.firstName %>">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label  class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="<%= user.personalDetails?.lastName %>">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Possition</label>
                                <input type="text" class="form-control" placeholder="Possition" name="possition" value="<%= user.personalDetails?.possition %>">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Country</label>
                                <input type="text" class="form-control" placeholder="Country" name="country" value="<%= user.personalDetails?.country %>">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="formFile" class="form-label">Profile picture</label>
                                <input class="form-control" type="file" name="file" id="formFile">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">About Me</label>
                                <textarea rows="3" class="form-control" name="aboutMe"><%= user.personalDetails?.aboutMe || "you could write something about here!" %> </textarea>
                            </div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-between">

                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Password change</button>

                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#socialsModal">Socials</button>

                            <button type="submit" class="btn btn-success">Update Profile</button>

                        </div>

                        
                        <!-- password change Modal -->
                        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Enter new password</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mx-4">
                                    
                                      <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingNewPassword" name="newPassword" placeholder="password">
                                        <label for="floatingNewPassword">New password</label>
                                      </div>
                                      <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingConfirmNewPassword" name="confirmNewPassword" placeholder="password">
                                        <label for="floatingConfirmNewPassword">Confirm new password</label>
                                      </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Accept</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- end of password change Modal -->

                         <!-- socials Modal -->
                         <div class="modal fade " id="socialsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="socialsModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="socialsModalLabel">My socials</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mx-4">                                
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class='bx bxl-github'></i></span>
                                        <input type="text" class="form-control" name="github" placeholder="Github account..." value="<%= user.socials?.github %>">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon2"><i class='bx bxl-twitter' ></i></span>
                                        <input type="text" class="form-control" name="twitter" placeholder="Twitter account..." value="<%= user.socials?.twitter %>">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3"><i class='bx bxl-linkedin-square' ></i></span>
                                        <input type="text" class="form-control" name="linkedIn" placeholder="LinkedIn account..." value="<%= user.socials?.linkedIn %>">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon4"><i class='bx bxl-twitch' ></i></span>
                                        <input type="text" class="form-control" name="twitch" placeholder="Twitch account..." value="<%= user.socials?.twitch %>">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Accept</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- end of socials Modal -->
  
                    </form>
                </div>
            </div>
        </div>
        
        <% } %>

        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="image">
                    <img src="/imgs/photo-1541661538396-53ba2d051eed.avif" alt="..."/>
                </div>
                <div class="content">
                    <div class="text-center imgMargin">
                        <img class="avatar" src="<%= user.avatar || '/imgs/defaultAvatar.webp' %>" alt="..."/>

                        <h4 class="card-title"><%= user.personalDetails?.firstName || user.userName %></h4>
                        <h6 class="card-subtitle mb-2"><%= user.personalDetails?.possition %> @ <%= user.personalDetails?.company %>  </h6>
                    </div>
                    <p class="text-muted text-center fw-light mx-4"> 
                        <%= user.personalDetails?.aboutMe %> 
                    </p>
                </div>
                <div class="card-footer text-center">
                    <% if (user.socials?.github) { %>
                        <a href="<%= user.socials?.github %>" target="_blank" class='bx bxl-github text-decoration-none text-reset fs-5'></a>
                    <% } %>
                    <% if (user.socials?.twitter) { %>
                        <a href="<%= user.socials?.twitter %>" target="_blank" class='bx bxl-twitter text-decoration-none text-reset fs-5'></a>
                    <% } %>
                    <% if (user.socials?.linkedIn) { %>
                        <a href="<%= user.socials?.linkedIn %>" target="_blank" class='bx bxl-linkedin-square text-decoration-none text-reset fs-5'></a>
                    <% } %>
                    <% if (user.socials?.twitch) { %>
                        <a href="<%= user.socials?.twitch %>" target="_blank" class='bx bxl-twitch text-decoration-none text-reset fs-5'></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('layout/footer.ejs') %> 