<%- include('./layout/header.ejs') %>             

<main>
    <div class="row mt-4">

      

      <div class="col-md-3">

        <% if (projectsPage || loggedUser.id == singleProject?.user._id) { %>
          <%- include('./partials/_myProjectsTable.ejs') %>             
        <% } %>


        <% if (typeof singleProject !== 'undefined') { %>
          <%- include('./partials/_projectImage.ejs') %> 
     
      </div>

      <div class="col-md-9">
        <% if (projectsPage || loggedUser.id == singleProject?.user._id) { %>
          <%- include('./partials/_projectsEditForm.ejs') %> 
        <% } else { %>
          <%- include('./partials/_projectsStaticForm.ejs') %> 
        <% } %>
        
      </div>

    </div>

    <div class="row mt-4">
  
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="wrapper">
                <h5 class="card-title">Project history (tasks)</h5>
              </div>
  
              <%- include('./partials/_addTaskButton.ejs', {id: singleProject._id}) %> 


            </div>
         
            <%- include('./partials/_megaTable.ejs', {element: singleProject.tasks, userIsAdmin: loggedUser.isAdmin, id: singleProject._id }) %> 

          </div>
          
        </div>
      </div>
    </div>

    <% } %>
  </main>


<%- include('./layout/footer.ejs', rowsShown=true) %> 