<%- include('./layout/header.ejs') %> 

<style>
    .fs-7{
        font-size: .8rem;
    }
</style>

<main>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="wrapper">
                            <h5 class="card-title">Tasks</h5>
                        </div>
                        <!-- modal button to add new tasks -->
                        <% if (id !== '') { %>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                + Task
                            </button>
                        <% } %>
                   
                        <!-- add form Modal -->
                        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Add new task</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/task/createTask" method="POST">
                                        <input hidden name="project" value="<%= id %>">
                                        <div class="modal-body mx-2">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="folatingTitle" name="taskName" placeholder="Title">
                                                <label for="folatingTitle">Title</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <textarea rows="5" class="form-control" style="height: auto;" id="floatingDescription" name="description" placeholder="Description"></textarea>
                                                <label for="floatingDescription">Description</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="tag">
                                                        <option selected>Type</option>
                                                        <option value="bug">Bug</option>
                                                        <option value="new feature">New feature</option>
                                                        <option value="todo">To do</option>
                                                        <option value="misc">Misc.</option>
                                                      </select>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="priority">
                                                        <option selected>Priority</option>
                                                        <option value="high">High</option>
                                                        <option value="moderate">Moderate</option>
                                                        <option value="low">Low</option>
                                                      </select>
                                                </div>
                                            <!--     <div class="col-md-4 mb-3">
                                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="status">
                                                        <option selected>Status</option>
                                                        <option value="new">New</option>
                                                        <option value="in progress">In progress</option>
                                                        <option value="closed">Closed</option>
                                                      </select>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end of add form Modal -->
                    </div>
                   
                    <%- include('./partials/_megaTable.ejs', {element: task}) %> 

                </div>   
            </div>
        </div>
    </div>

    <% if (typeof singleTask !== 'undefined') { %>
     
    <div class="row mt-4">
        <div class="col-md-8 pb-4 pb-md-0">
          <div class="card">
            <div class="card-header">
                Task info
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 d-flex flex-column pb-3 pb-md-0">
                        <span class="text-muted fw-light fs-7 pb-1 text-uppercase">Task Name</span>
                        <span class="card-text ps-1"><%= singleTask.taskName %> </span>
                    </div>
                    <div class="col-md-3 d-flex flex-column pb-3 pb-md-0">
                        <span class="text-muted fw-light fs-7 pb-1 text-uppercase">Created by</span>
                        <span class="card-text ps-1"><%= singleTask.createdBy.userName %> </span>
                    </div>
                    <div class="col-md-6 d-flex flex-column">
                        <span class="text-muted fw-light fs-7 pb-1 text-uppercase">Description</span>
                        <span class="card-text ps-1"><%= singleTask.description %> </span>
                    </div>
                </div>
                <div class="row pt-3 pt-md-4">
                    <div class="col-md-3 d-flex flex-column pb-3 pb-md-0">
                        <span class="text-muted fw-light fs-7 pb-1 text-uppercase">Type</span>
                        <span class="card-text ps-1 text-capitalize"><%= singleTask.tag %> </span>
                    </div>
                    <div class="col-md-3 d-flex flex-column pb-3 pb-md-0">
                        <span class="text-muted fw-light fs-7 pb-1 text-uppercase">Priority</span>
                        <span class="card-text ps-1 text-capitalize"><%= singleTask.priority %> </span>
                    </div>
                    <div class="col-md-3 d-flex flex-column pb-3 pb-md-0">
                        <span class="text-muted fw-light fs-7 pb-1 text-uppercase">Status</span>
                        <span class="card-text ps-1 text-capitalize"><%= singleTask.status %> </span>
                    </div>
                    <div class="col-md-3 d-flex flex-column">
                        <span class="text-muted fw-light fs-7 pb-1 text-uppercase">Created on</span>
                        <span class="card-text ps-1"><%= singleTask.createdAt.toLocaleString() %> </span>
                    </div>
                </div>
                <div class="row pt-3 pt-md-4">
                    <div class="col-md-4 d-flex flex-column">
                        <span class="text-muted fw-light fs-7 pb-1 text-uppercase">Assigned to</span>
                        <span class="card-text ps-1"><%= singleTask.assignedTo?.userName || "not yet assigned" %> </span>
                    </div>
                </div>
            </div>
            

          </div>
        </div>

        <div class="col-md-4">
            <%- include('./partials/_comments.ejs') %>
        </div>
    </div>

    <% } %>

</main>

<%- include('./layout/footer.ejs') %> 